.others {
    min-height: 330px;
    background: rgba(150,90,36,1);
    background: linear-gradient(to bottom, rgba(150,90,36,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#965a24', endColorstr='#000000', GradientType=0 );
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 70px;
    
}
.other {
    margin-top: 20px;
    border-right: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
}
.other:last-child{
    border-right: none;
}