.topic {
    width: 230px;
    height: 228px;
    background-color: black;
    border-radius: 20px;
    margin: 18px 10px;
    box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
    transition: all .5s ease;
}

.topic:hover{
    transform: translate(10px, 10px);
    box-shadow: none;
}

.topic img{
    width: 230px;
    height: 175px;
    border-radius: 20px 20px 0 0;
}
.topic header{
    height: 46px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
}