.topics {
    height: auto;
    background-color: #f5f8fc;
}

.topics  section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 45px 70px 40px 70px;
}

.topics h1{
    margin: 0;
    padding-top: 70px;
}
