@import url('https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet');

html *{
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}
html, body{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
}
img {
  width: 100%;
  height: auto;
}
main {
  height: 100vh;
  min-width: 550px;

}
a {
  text-decoration: none;
}