.banner {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
    text-align: right;
    padding: 70px;
    animation-duration: 1s;
    animation-name: fadein;
    padding: 5% 70px;
 
}

.banner h1 {
    font-size: 2em;
    font-weight: normal;
    animation-duration: 2s;
    animation-name: offsetTitle;
    animation-timing-function: cubic-bezier(.43,.26,.5,1.65);
    padding: 10% 0px;
    text-transform: uppercase;
}

@keyframes offsetTitle {
    from {
        transform: translateX(1000px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }