.know-that {
    width: 100%;
    height: auto;
    background: rgba(242,236,225,1);
    background: linear-gradient(to bottom, rgba(242,236,225,1) 0%, rgba(242,236,225,1) 55%, rgba(222,220,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ece1', endColorstr='#dedcdc', GradientType=0 );
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    
}

.title-know-that{
    font-size: 25px;
    margin-top:0px; 
    transform: rotate(350deg) translate(-20px,31px);
}

.img-know-that{
    width: 100%;
    min-width: 180px;
    max-width: 300px;  
    
}
.knowledge{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 40px;

}
.knowledge h1{
    font-size: 160%;
}
.knowledge p{
    text-align: justify;
    font-size: 21px;
    margin: 14px 0px;
}